{% if CERTIFICATIONS %}
<section class="section certifications-section">
    <h2 class="section-title"><i class="fa fa-check"></i>Certifications</h2>
    <div class="certifications">
    {% for certification in CERTIFICATIONS %}
        <div class="item">
            <div class="upper-row">
	              <h3 class="cert">{{ certification['cert'] }}</h3>
                {% if certification['progress'] == "100" and certification["valid"] == False %}
                    <div class="time">{{ certification['time'] }} (Lapsed)</div>
                {% else %}
                    <div class="time">{{ certification['time'] }}</div>
                {% endif %}
            </div><!--//upper-row-->
            <div class="meta">{{ certification['meta'] }}</div>
            <div class="level-bar">
              {% if certification["valid"] == True %}
              <div class="level-bar-inner-complete" data-level="{{ certification['progress'] }}%"></div>
              {% elif certification['progress'] != "100" %}
              <div class="level-bar-inner" data-level="{{ certification['progress'] }}%"></div>
              {% elif certification['progress'] == "100" %}
              <div class="level-bar-inner-lapsed" data-level="{{ certification['progress'] }}%"></div>
              {% endif %}
            </div><!--//level-bar-->
	      </div><!--//item-->
    {% endfor %}
    </div><!--//certifications-->
</section><!--//certifications-section-->
{% endif %}

